<div class="intro-game">
	<div class="container">
		<h1>Nyan Cat: The Lost Rainbow</h1>
	</div>
</div>


<div class="content-section-a">
	<div class="container">
		<div class="row"> 	 		
			<div class="col-md-3">
 	 		</div>
 	 		<div class="col-md-2">
 	 			<img src="https://db.tt/bgrfffgD" class="img-responsive" alt="Responsive image">
 	 		</div>
  			<div class="col-md-6">
  				<h4>Nyan Cat: The Lost Rainbow!</h4>
  				<br />
  				<a href="https://play.google.com/store/search?q=pub:Dev Ganes">
			  		<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
				</a>
  			</div>
		</div>	
	</div>
</div>

<div class="content-section-a">
	<div class="container">
		<div class="row">
 	 		<center>
				<iframe width="760" height="515" src="//www.youtube.com/embed/ObjUCXuWXWo" frameborder="0" allowfullscreen></iframe>
			</center>
		</div>	
	</div>
</div>

<div class="content-section-a">
	<div class="container">
		<div class="row">
 			<h5></h5>	
		</div>	
	</div>
</div>
